i {
  cursor: pointer;
}
hr {
  height: 5px;
  border: 0;
  box-shadow: 0 5px 5px -5px #fff inset;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 0 0;
  color: #fff;
  font-size: 70px;
  font-family: "Fira Mono", monospace;
  letter-spacing: -7px;
  user-select: none;
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: 50px;
    margin: 2rem 0 0 0;
  }
}
.normal-font {
  font-size: medium;
  font-family: "Fira Mono", monospace;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .normal-font {
    font-size: small;
  }
}

.image-cropper {
  width: 250px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
