<div class="container">
  <h1 class="mb-3 title">¿Quién Soy?</h1>
  <hr />
  <div class="row">
    <div class="col-sm-8">
      <p class="normal-font text-center pt-2">
        ¡Hola! Soy Thiago Tomás Corta. Nací en la localidad de Avellaneda
        (Buenos Aires) el 11 de agosto de 1999. Terminé la escuela secundaria en
        el año 2017 con el título de bachiller en Economía y Administración.
        Actualmente estoy cursando la Tecnicatura Superior en Programación en la
        Universidad Técnologica Nacional. Podría decir que el acercamiento a
        esta disciplina fue gradual: desde muy chico me gustan los videojuegos,
        los cuales despertaron mi interés por la Informática. De ahí en
        adelante, en calidad de autodidacta, fui incursionando más y más en el
        mundo de la computación, hasta llegar al área de Programación; ahí supe
        que esto era lo mío, lo que disfrutaba -y disfruto- de hacer. Tanto que,
        mi objetivo en la vida es ser un buen programador; esta disciplina
        abarca mi día a día, mi rutina, y es algo realmente placentero que,
        entre otras cosas, me genera cada vez más y más ganas de aprender y de
        perfeccionarme.
      </p>
    </div>
    <div class="col-sm-4 d-flex justify-content-center">
      <div class="image-cropper text-center">
        <img src="../../../assets/imagenes/quiensoy.jpg" class="rounded" />
      </div>
    </div>
  </div>
</div>
