<div class="container-fluid pt-5">
  <div class="carousel">
    <ngb-carousel [interval]="3000" [wrap]="true">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            src="../../../assets/imagenes/start-image.jpg"
            alt="Random first slide"
          />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            src="../../../assets/imagenes/games-banner.jpg"
            alt="Random second slide"
          />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            src="../../../assets/imagenes/games2-banner.jpg"
            alt="Random third slide"
          />
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div
    *ngIf="isLoged$ | async"
    class="container-fluid pt-5 d-flex justify-content-center"
  >
    <div class="cards-container">
      <div class="cards" routerLink="/Juegos">
        <img
          src="./assets/imagenes/saladejuegos.jpg "
          alt=""
          class="cards-img"
        />
        <div class="cards-content">
          <h3>Lista de juegos disponibles en la aplicacion web</h3>
        </div>
      </div>

      <div class="cards" routerLink="/Jugadores">
        <img
          src="./assets/imagenes/total-jugadores.jpg"
          alt=""
          class="cards-img"
        />
        <div class="cards-content">
          <h3>Lista del total de los jugadores</h3>
        </div>
      </div>
    </div>
  </div>
</div>
