<div class="container-fluid pt-3 d-flex justify-content-center">
  <div class="cards-container">
    <div class="cards" (click)="Juego('Agilidad')">
      <img
        class="cards-img"
        src="./assets/imagenes/cerebro.jpg"
        alt="Avatar"
        style="width: 100%"
      />
      <div class="cards-content">
        <h3>
          Velocidad y agilidad aritmética
          <p class="title">Juego de agilidad mental</p>
          <p>UTN FRA</p>
        </h3>

        <div class="d-flex justify-content-around">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
    </div>
    <div class="cards" (click)="Juego('Adivina')">
      <img
        class="cards-img"
        src="./assets/imagenes/adivina.jpg"
        alt="Avatar"
        style="width: 100%"
      />
      <div class="cards-content">
        <h3>
          Adivina el número secreto
          <p class="title">Juega de estrategia</p>
          <p>UTN FRA</p>
        </h3>

        <div class="d-flex justify-content-around">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
    </div>
    <div class="cards" (click)="Juego('PPT')">
      <img
        class="cards-img"
        src="./assets/imagenes/ppt.jpg"
        alt="Avatar"
        style="width: 100%"
      />
      <div class="cards-content">
        <h3>
          Piedra Papel o Tijera
          <p class="title">Juega contra la máquina</p>
          <p>UTN FRA</p>
        </h3>
        <div class="d-flex justify-content-around">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
    </div>
    <div class="cards" (click)="Juego('Tateti')">
      <img
        class="cards-img"
        src="./assets/imagenes/tateti.jpg"
        alt="Avatar"
        style="width: 100%"
      />
      <div class="cards-content">
        <h3>
          Ta-Te-Ti
          <p class="title">Juega contra la máquina</p>
          <p>UTN FRA</p>
        </h3>
        <div class="d-flex justify-content-around">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
    </div>
    <div class="cards" (click)="Juego('Arkanoid')">
      <img
        class="cards-img"
        src="./assets/imagenes/arkanoid.png"
        alt="Avatar"
        style="width: 100%"
      />
      <div class="cards-content">
        <h3>
          Arkanoid
          <p class="title">Juega contra la máquina</p>
          <p>UTN FRA</p>
        </h3>
        <div class="d-flex justify-content-around">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
