<div class="container">
  <div class="jumbotron d-flex justify-content-center" style="padding: 50px">
    <form action="return true;">
      <div class="imgcontainer">
        <img
          src="./assets/imagenes/login.png"
          alt="Avatar"
          class="avatar"
          max-width="104"
        />
      </div>

      <div class="container" [formGroup]="form">
        <label><b>Email</b></label>
        <input
          type="text"
          placeholder="Email"
          formControlName="email"
          name="uname"
          required
        />

        <label><b>Clave</b></label>
        <input
          type="password"
          placeholder="Clave"
          formControlName="password"
          name="psw"
          required
        />

        <button class="btn btn-success" (click)="login()">Ingresar</button>

        <div *ngIf="failedLogin" style="color: white">
          Error al ingresar email o contraseña, intenta de nuevo.
        </div>
        <input type="checkbox" checked="checked" /> Recordar mis datos
      </div>

      <div class="container">
        <button type="button" class="cancelbtn">Cancelar</button>
        <button type="button" class="aceptbtn" routerLink="/Registro">
          Registrarse
        </button>
        <button type="button" class="aceptbtn" (click)="llenarLogin()">
          Llenar Login
        </button>
        <span class="psw">Te olvidaste <a href="#">la clave?</a></span>
      </div>
    </form>
  </div>
</div>
