<nav class="navbar navbar-expand-lg navbar-light nav-black">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto order-lg-2 text-center">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Inicio </a>
      </li>
      <li class="nav-item">
        <a routerLink="/QuienSoy" class="nav-link"
          >Quien Soy? <i class="fa fa-user"></i
        ></a>
      </li>
      <li class="nav-item">
        <a
          href="https://github.com/ThiagoCorta"
          class="nav-link"
          target="_blank"
          >GitHub <i class="fa fa-github"></i
        ></a>
      </li>
      <li class="nav-item d-inline">
        <a routerLink="/Registro" class="nav-link"
          ><span class="glyphicon glyphicon-user"></span>Registrarse</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/Login" class="nav-link"
          ><span class="glyphicon glyphicon-log-in"></span> Ingresar</a
        >
      </li>
    </ul>
  </div>
</nav>
